extends no_render/layout.pug

block title
  title ityt - CRUD website

block content
  section.section
    .container.has-text-centered
      h1.title.is-1 CRUD website
  
  section.section
    .container.has-text-centered
      h1.title
        a(href="https://github.com/itytophile/crud_php") -- Git Link --
  
  section.section.has-text-centered.has-background-light
    .container
      h1.title Gallery
      br
    .content
      img(alt="home" src="crud/1.png")