extends no_render/layout.pug

block title
  title ityt - Immeuble

block content
  section.section
    .container.has-text-centered
      h1.title.is-1 Immeuble
  
  section.section
    .container.has-text-centered
      h1.title
        a(href="https://github.com/itytophile/Immeuble") -- Git Link --
  
  section.section.has-text-centered.has-background-light
    .container
      h1.title Gallery
      br
    .content
      img(alt="game" src="immeuble/1.jpg")

  section.section.has-text-centered
    h1.title
      a(href="https://www.planet-casio.com/Fr/programmes/programme3733-last-immeuble-ityt-jeux-add-ins.html") More informations (in French)