extends no_render/layout.pug

block title
  title ityt - Home

block content
  section.hero.has-text-centered
    .hero-body
      .container
        h1.title Who am I?
        p I am Imran Tierce and I'm currently studying computer science at the Université Le Havre Normandie (
        a(href="https://en.wikipedia.org/wiki/Master%27s_degree_in_Europe#France") Master
        |  1 after the 2020 summer holiday) in France.
  
  section.hero.has-text-centered
    .hero-body
      .container
        h1.title How much do I know about computer science?
        p
          strong Languages I officially know:
          br
          | Java, C, C++, Python, PHP, HTML, CSS (I just use frameworks now), bash.
        p
          strong Other things I officially know:
          br
          | Managing databases (PostgreSQL, MySQL, Oracle Database), UML and Entity–relationship model diagram, Symfony, Bulma, calculating time complexity, creating Android apps, some Maths, talking in English (I hope)...
        p
          strong Languages I unofficially know:
          br
          | JavaScript.
        p
          strong Other things I unofficially know:
          br
          | Creating Node.js servers, how to draw.
        p I want to remind you that I can learn anything if this is interesting (like I don't know... AI maybe or data science?)

  section.hero.has-text-centered
    .hero-body
      .container
        h1.title My projects
        a.button.is-link.is-rounded(href="univ.html") Université related
        |  
        a.button.is-success.is-rounded(href="personnal.html") Personnal
