extends no_render/layout.pug

block title
  title ityt - Home

block content
  section.section
    .container
      h1.title Who am I?
      p I am Imran Tierce and I'm currently studying computer science at the Université Le Havre Normandie (
        a(href="https://en.wikipedia.org/wiki/Master%27s_degree_in_Europe#France") Master
        |  1 after the 2020 summer holiday) in France.
  section.section 
    .container
      h1.title How much do I know about computer science?
      h2.title.is-5 Languages I officially know:
      .content
        ul
          li
            a(href='https://en.wikipedia.org/wiki/Java_%28programming_language%29') Java
          li
            a(href='https://www.scala-lang.org/') Scala
          li
            a(href='https://developer.mozilla.org/en-US/docs/Web/JavaScript') JavaScript
          li
            a(href='https://en.wikipedia.org/wiki/C_(programming_language)') C
          li
            a(href='https://en.wikipedia.org/wiki/C%2B%2B') C++
          li
            a(href='https://www.python.org/') Python
          li
            a(href='https://www.php.net/') PHP
          li
            a(href='https://developer.mozilla.org/en-US/docs/Web/HTML') HTML
          li
            a(href='https://developer.mozilla.org/en-US/docs/Web/CSS') CSS
            |  (I just use frameworks now)
          li
            a(href='https://en.wikipedia.org/wiki/Bash_%28Unix_shell%29') bash
      h2.title.is-5 Other things I officially know:
      .content
        ul
          li
            | Managing databases (
            a(href='https://www.postgresql.org/') PostgreSQL
            | , 
            a(href='https://fr.wikipedia.org/wiki/MySQL') MySQL
            | , 
            a(href='https://en.wikipedia.org/wiki/Oracle_Database') Oracle Database
            | )
          li
            a(href='https://en.wikipedia.org/wiki/Unified_Modeling_Language') UML
            |  and 
            a(href='https://en.wikipedia.org/wiki/Entity%E2%80%93relationship_model') Entity–relationship model diagram
          li
            a(href='https://symfony.com/') Symfony
          li
            a(href='https://bulma.io/') Bulma
          li calculating time complexity
          li creating Android apps
          li some Maths
          li speak English (I hope)
      h2.title.is-5 Languages I unofficially know:
      .content
        ul
          li
            a(href='https://www.rust-lang.org/') Rust
          li
            a(href='https://www.wolfram.com/mathematica/') Wolfram Mathematica
      h2.title.is-5 Other things I unofficially know:
      .content
        ul
          li
            a(href='https://nodejs.org') Node.js
            | /
            a(href='http://expressjs.com/') Express
          li
            a(href='https://www.djangoproject.com/') Django
          li
            a(href='https://actix.rs/') Actix
          li
            a(href='https://www.yoyogames.com/gamemaker') GameMaker Studio 2
          li
            a(href='https://godotengine.org/') Godot
          li How to draw

  section.section
    .container
      h1.title My projects
      a.button.is-link.is-rounded(href="univ.html") Université related
      |  
      a.button.is-success.is-rounded(href="personnal.html") Personnal
