extends no_render/layout.pug

block title
  title ityt - Mister Jint

block content
  section.section
    .container.has-text-centered
      h1.title.is-1 Mister Jint
  
  section.section
    .container.has-text-centered
      h1.title
        a(href="https://github.com/itytophile/MrJint") -- Git Link --
  
  section.section.has-text-centered
    .container
      h1.title No gallery available because gint doesn't support screen capture. The sprites are in the git repository.