extends no_render/layout.pug

block title
  title ityt - Personnal projects

block content
  section.section.has-text-centered
    .container
      h1.title.is-1 Personnal programming projects
      p.subtitle by Imran Tierce a.k.a. ityt

  section.section.has-text-centered
    h2.title
      | With
      a(href="https://nodejs.org")  Node.js
    .content
      img(alt="aboprecis illustration" src="abo.png")
    .container
      p.subtitle
        a(href="abo.html") -- Aboprécis --
      p
        | Aboprécis is a Node.js app whose goal is to filter videos of specific channels by keywords. This app is useful if your are interested in a single kind of videos from a youtuber who post a lot.
        br
        | I primarily made this app to learn Javascript within Node.js. It also gave me the occasion to make a clean authentification system (I hope) with
        a(href="http://www.passportjs.org/")  Passport
        |  and
        a(href="https://www.npmjs.com/package/bcrypt")  bcrypt
        |  (for password-hashing).
        br
        |  The CSS framework I used for the client side is
        a(href="https://bulma.io/")  Bulma.
  
  section.section.has-text-centered.has-background-light
    h2.title
      | With
      a(href="https://gcc.gnu.org/")  C
      |  on
      a(href="https://www.casio-education.fr/")  CASIO
      |  calculators
    .content
      img(alt="immeuble illustration" src="immeuble.png")
    .container
      p.subtitle
        a(href="immeuble.html") -- Immeuble --
      p
        | Immeuble is the first add-in game I made on the CASIO Graph 35+. An add-in is just a compiled program for some of the CASIO calculators.
        br
        | This game is very simple, it's a square which jumps from buildings to buildings (Immeuble is building in French).
        br
        | As this game is very easy to make, the challenge is to make a clean code while dealing with CASIO libraries.
        br
        | Fortunately there is
        a(href="https://www.planet-casio.com")  a french community
        |  who makes a lot of cool libraries.
    .content
      img(alt="Mr jint illustration" src="jint.png")
    .container
      p.subtitle
        a(href="jint.html") -- Mister Jint --
      p
        | Mister Jint is a prototype I made to get the hang of the
        a(href="https://www.planet-casio.com/Fr/forums/topic13572-1-gint-un-noyau-pour-developper-des-add-ins.html")  gint engine.
        br
        | The gint engine gives us the ability to display several shades of grey on monochrome calculators. I tried to make a real game with animated sprites but as I didn't have any gameplay ideas I just stopped the project.
        br
        | I know programming but I am a noob at game design.

  section.section.has-text-centered
    h2.title
      | With
      a(href="https://www.yoyogames.com/")  GameMaker Studio 2
    .content
      img(alt="pogVswild illustration" src="pog.png")
    .container
      p.subtitle
        a(href="pog.html") -- PogVsWild --
      p
        | PogVsWild is the first game I made on GameMaker. In this game, you play as
        a(href="https://twitter.com/gootecks")  gootecks
        | ' mouth and you must save all the kidnapped little frogs from team Skull grunts.
        | This game is just a funny mess with discord emotes.
    .content
      img(alt="Jale samou illustration" src="samou.png")
    .container
      p.subtitle
        a(href="samou.html") -- Jale samou --
      p
        | Jale Samou is a game whose gameplay idea was given to me by a friend. You play as a Samurai who throws his blade to climb walls.
        br
        | The development is stopped because it's hard to make games. The game is actually in a demo state.