extends no_render/layout.pug

block title
  title ityt - PogVsWild

block content
  section.section
    .container.has-text-centered
      h1.title.is-1 PogVsWild
  
  section.section
    .container.has-text-centered
      h1.title No git repository available but you can ask me the game executable... (not a virus)

  section.section.has-text-centered
    .container
      h1.title Gallery
      br
    .content
      img(alt="game" src="pog/1.jpg")
      |  
      img(alt="game" src="pog/2.jpg")
      |  
      img(alt="game" src="pog/3.jpg")